@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>BA.Project 2020</h1>
        <p class="lead">Pandemic quarantine segregation</p>
        @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@

        @*@using (Html.BeginForm("Create", "Shopping_group"))
        {
            @Html.AntiForgeryToken()
            <button class="btn btn-primary" type="submit">Create and populate</button>
        }*@
        @Html.ActionLink("Groups and population", "Create", "Shopping_group")
        @* @Html.ActionLink("Create and populate", "Index", "Shopping_group") *@
    </div>
